/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Orbitron');


*{
    padding:0px;
    margin:0px;
}

body{
    background-color:mintcream;
    font-family:'Assistant' , sans-serif;
}
